.containerLink:not(:last-child) {
    margin-right: 20px;
}
.imgBasket {
    padding: 0 10px;
}

@media (max-width: 1366px) {
    .containerLink:not(:last-child) {
        margin-right: 15px;
    }
}

@media (max-width: 1024px) {
    .containerLink:not(:last-child) {
        margin-right: 10px;
    }
}