.containerGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
    position: static;
    z-index: 1;
}

@media (max-width: 1750px) {
    .containerGrid {
        grid-template-columns: repeat(2, auto);
    }
}