@import url(..//../index.css);

.container {
    background-color: var(--text-color);
    padding: 28px 15%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1366px) {
    .container {
        padding: 0 10%;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 10%;
    }
}