.button {
    font-family: 'IntroRegular';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--white-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

.button {
  width: 250px;
  height: 60px;
  background-color: var(--accent-color);
}

.button:hover {
  background-color: var(--accent-hover-color);
}

.button:active {
  background-color: var(--accent-activ-color);
}