.container{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.containerBord {
    border: 1px solid var(--grey-color);
    padding: 10px;
    margin: 40px 0;
}

.sneakerItem{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
}

.sneakerItemImg {
    object-fit: cover;
    max-width: 100px;
}

.sneakerTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}